<mat-card >
  <mat-card-header>
    <mat-card-title>Вход</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/Regina%20green%20yoga%20400px.jpg?alt=media&token=a2efae50-2245-4929-8808-a30c3576c288">
  <mat-card-content>
    <form #f = "ngForm" (ngSubmit) = "loginByEmail(f.value)">
      <mat-form-field>
        <mat-label>Адрес электронной почты</mat-label>
        <input matInput #email = "ngModel" [(ngModel)]="email2" name="email" required autofocus>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput #password = "ngModel" [(ngModel)]="password2" name="password" required>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color = "primary">Войти</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<button mat-button routerLink = "/register">Регистрация</button><br>
<button mat-button routerLink = "/resetPassword">Забыли пароль?</button><br>
<button mat-button (click)="login()">Или войти с Google</button>
