<div #demoYouTubePlayer>
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ training.title}}</mat-card-title>
        </mat-card-header>
            <youtube-player 
                [videoId]="videoId"
                suggestedQuality="hd720"
                [width]="videoWidth" [height]="videoHeight"
            >
            </youtube-player>
        <mat-card-content>
            <p>{{ training.category }} {{ training.complexity }} уровень сложности</p>
            <div style="white-space: pre-wrap;">{{ training.description }}</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color = "primary" *ngIf = "appUser" (click) = "markCompleted()">Сделано!</button>
        </mat-card-actions>
    </mat-card>
</div>