<form #f= "ngForm" (ngSubmit) = "save(f.value)">
    <mat-form-field appearance = "standard">
        <mat-label>Название</mat-label>
        <input matInput #title="ngModel" [(ngModel)] = "training.title" name = "title" id= "title" type="text" required>
        <mat-error *ngIf="title.touched && title.invalid">Введите, пожалуйста, название</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label>Ссылка на видео</mat-label>
        <input matInput #videoUrl = "ngModel" [(ngModel)] = "training.videoUrl" name = "videoUrl" id= "videoUrl" type="URL" required>
        <mat-error *ngIf="videoUrl.touched && videoUrl.invalid">Нужна ссылка на видео</mat-error>
    </mat-form-field>
    <upload-files 
        [urls] = "urls"
        [training] = "training" 
        [type] = "'training'"
        (upload) = "onUploadFile($event)"
        (uploadIsValid) = "uploadValidTrigger($event)">
    </upload-files>

    <mat-form-field appearance = "standard">
        <mat-label>Месяц</mat-label>
        <mat-select #month="ngModel" [(ngModel)] = "activeMonth" name = "month" id= "month" type="text" required>
            <mat-option *ngFor = "let m of monthArr" value="{{m}}">{{ m }}</mat-option>
        </mat-select>
        <mat-error *ngIf="month.touched && month.invalid">Выберите активный месяц для тренировки</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label>Год</mat-label>
        <mat-select #year="ngModel" [(ngModel)] = "activeYear" name = "year" id= "year" type="text" required>
            <mat-option *ngFor = "let y of yearArr" value="{{y}}">{{ y }}</mat-option>
        </mat-select>
        <mat-error *ngIf="year.touched && year.invalid">Выберите активный год для тренировки</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "standard">
        <mat-label>Уровень сложности</mat-label>
        <mat-select #complexity = "ngModel" [(ngModel)] = "training.complexity" name = "complexity" id = "complexity" type = "text" required>
            <mat-option value="базовый">базовый</mat-option>
            <mat-option value="простой">Простой</mat-option>
            <mat-option value="средний">Средний</mat-option>
            <mat-option value="сложный">Сложный</mat-option>
            <mat-option value="богоподобный">Богоподобный</mat-option>
        </mat-select>
        <mat-error *ngIf="complexity.touched && complexity.invalid">Выберите уровень сложности</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label>Категория</mat-label>
        <mat-select #category = "ngModel" [(ngModel)] = "training.category" name = "category" id = "category" type = "text" required>
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let category of categories$ | async" [value] = "category.payload.val().name" >
                {{ category.payload.val().name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="category.touched && category.invalid">Выберите категорию тренировки</mat-error>
    </mat-form-field>
    <mat-form-field appearance = "standard">
        <mat-label>Описание</mat-label>
        <textarea matInput #description="ngModel" [(ngModel)] = "training.description" name = "description" id= "description" type="text" required></textarea>
        <mat-error *ngIf="description.touched && description.invalid">Введите, пожалуйста, описание</mat-error>
    </mat-form-field>

    <div class="buttonRow">
        <button mat-raised-button color = "primary" [disabled] = "!uploadIsValid" class="btn btn-outline-success">Сохранить</button>
        <button mat-raised-button color = "warn" (click) = "delete()" class="btn btn-outline-warning">Удалить</button>
    </div>
</form>