<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <a routerLink = "/trainings">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%A2%D1%80%D0%B5%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B8.jpg?alt=media&token=5ceb4171-06a0-462a-9e20-b4737fcbb1e1"  alt="Тренировки">
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink = "/diet">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%9F%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5.jpg?alt=media&token=dd79d4e9-4ea9-47d4-87fd-3217575dd881"  alt="Питание">
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink = "/lectures">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8.jpg?alt=media&token=34661c23-4fdb-4c53-beb9-43a5ce2b0ebe"  alt="Лекции">
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink = "/journal">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%94%D0%BD%D0%B5%D0%B2%D0%BD%D0%B8%D0%BA.jpg?alt=media&token=63f50e47-1c0d-480d-9002-1efeac47cfc6"  alt="Дневник">
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink = "/calendar">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%9A%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80%D1%8C.jpg?alt=media&token=bed2f4d8-6370-454f-a402-b5c3d519f5b7"  alt="Календарь">
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink = "/more">
      <img class="cropped" src="https://firebasestorage.googleapis.com/v0/b/regina-go.appspot.com/o/App%20thumbnails%2F%D0%A0%D0%B0%D0%B7%D0%BD%D0%BE%D0%B5.jfif?alt=media&token=05954570-432f-447a-978a-64f29f0c1736"  alt="Разное">
    </a>
  </mat-grid-tile>
</mat-grid-list>
